<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body>
    <header role="banner">
      {{ page.header }}
    </header>
    <main role="main">
      {{ page.content }}
    </main>
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  </body>
</html>
